body {
    background-color: #f6f6fa;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}

ul, ol{
    margin-top: 0px;
    margin-bottom: 0px;
        }

.wrapper{
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
}
.my-content {
    padding: 88px 80px 40px 80px;
    box-sizing: border-box;
}

/* sidebar */

.sidebar {
    background-color: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar_content {
    padding: 40px 40px 40px;
}

.contacts_titles{
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.CE {
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts_link{
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.contacts_item{
    margin-top: 0px;
    margin-bottom: 4px;
}

.contacts_container{
    margin-bottom: 40px;
}

.tech_sckills_container{
    margin-bottom: 40px;
}

.sckiills_title{
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.sckiills_list{
    padding-left: 16px;
}

.sckiills_list_item{
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* my info */

.my_profession{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 8px;
    
}

.my_name{
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.my_about{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 720px;
    height: 72px;
}

.my_info{
    margin-bottom: 40px;
}

.my_projects_titles{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;

}

.my_projects_list{
    padding-left: 16px;
}

.my_projects_item{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.my_projects_item_link{
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    margin-left: 14px;
}

.my_projects_item_tech{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my_projects{
margin-bottom: 40px;
}

.work_experience_title{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.work_experience_company{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 12px;
    margin-top: 0px;
}

.company{
    color: #6D9BF5;
}

.work_time{
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.separator{
    color: #000;
}

.work_experience_duties_list{
padding-left: 16px;
width: 526px;
margin-bottom: 12px;
}

.work_experience_duties_item{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.work_experience{
    margin-bottom: 12px;
}

.education_title{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 4px;
}

.education_2{
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.education_3{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.education_date{
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.education_separator{
    color: #000;
}